/* @tailwind base;
@tailwind components;
@tailwind utilities;

.bimg{
    background-image: url("https://i.postimg.cc/SRg2SDdJ/IMG-4992.jpg");
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-size: 200px;
    background-position-y: 130px;
    background-position-x: -60px;
} */
